<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IndentifiedFace.Properties.Settings.GraduationConnectionString"
            connectionString="Data Source=DESKTOP-OOJ4QPN;Initial Catalog=Employee;Integrated Security=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-OOJ4QPN;Initial Catalog=Employee;Integrated Security=True" /> 
    <add key="StopValue" value="50" />
  </appSettings>
</configuration>